$primary-color: #256eff;
$secondary-color: #46237a;
$third-color: #3ddc97;
$fourthcolor: #06bee1;
$font-base-size: 15px;
$border-radius: 5px;
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
